body{
    background-image: url(wood.jpg);
}
@media (min-width: 576px) {
    .clear {clear: both;}
    .button {
      position: relative;
      font-weight: bold;
      font-size: 35px;
      color: white;
      width: 100%;
      text-decoration: none;
      user-select: none;
      padding: .8em 2em;
      outline: none;
      border-radius: 1px;
      background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
      background-size: 100% 100%, auto;
      background-position: 50% 50%;
      box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
      transition: 0.2s;
    }
    .button:hover {
      background-size: 140% 100%, auto;
    }
    .button:active {
      top: 1px;
      color: #ffdead;
      box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
    }

    .input_size{
        border-radius: 8px;
    	border-width: 1px;
    	height: 5%;
    	margin-top: 13%;
    	font-size:35px;
    	padding: 8px;
    	margin: 10px;
    }
    .input_size_1{
        border-radius: 8px;
    	border-width: 1px;
    	height: 5%;
    	margin-top: 13%;
    	font-size:35px;
    	padding: 8px;
    	margin: 10px;
    }
    .table{
        margin:0 auto;
        border: 1px solid black;
        margin-top: 20%;
        width: 80%;
        text-align:center;
        font-size: 40px;
    }
    .form_size{
    	width:100%
    	margin: auto;
    	margin-top: 50%;
    	line-height: 40px;
    }
    .form{
    	width:60%;
    	margin: auto;
    	margin-top: 8%;
    }
    .form input, .contact_form form{
    	border-radius: 8px;
    	border-width: 3px;
    	width:80%;
    	height: 5%;
    	font-size:40px;
    	margin-right: 0;
    }
    .form p, .contact_form form{
    	font-size:40px;
    	text-align:left;
    }

    .form button, .contact_form form{
    	width:80%;
    	height: 5%;
    	margin:10px;
    	margin-right: 0;
    	border-radius: 10px;
    	background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
    }
    .form a, .contact_form form{
    	text-align: center;
        display: inline-block;
        font-size: 35px;
    	color: black;
    }
}
@media (min-width: 768px) {
    .clear {clear: both;}
    .text_size{
        font-size: 70px;
    }
    .button {
      position: relative;
      font-weight: bold;
      font-size: 35px;
      color: white;
      width: 100%;
      text-decoration: none;
      user-select: none;
      padding: .8em 2em;
      outline: none;
      border-radius: 1px;
      background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
      background-size: 100% 100%, auto;
      background-position: 50% 50%;
      box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
      transition: 0.2s;
    }
    .button:hover {
      background-size: 140% 100%, auto;
    }
    .button:active {
      top: 1px;
      color: #ffdead;
      box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
    }
    .input_size{
        border-radius: 8px;
    	border-width: 1px;
    	height: 5%;
    	font-size:35px;
    	padding: 8px;
    	margin: 10px;
    	margin-right: 0;
    }
    .table{
        margin:0 auto;
        border: 1px solid black;
        width: 80%;
        text-align:center;
        font-size: 40px;
    }
    .form_size{
    	width:100%
    	margin: auto;
    	margin-top: 50%;
    	line-height: 40px;
    }
    .form{
    	width:60%;
    	margin: auto;
    	margin-top: 8%;
    }
    .form input, .contact_form form{
    	border-radius: 8px;
    	border-width: 3px;
    	width:80%;
    	height: 5%;
    	font-size:40px;
    	margin-right: 0;
    }
    .form p, .contact_form form{
    	font-size:40px;
    	text-align:center;
    }

    .form button, .contact_form form{
    	width:80%;
    	height: 5%;
    	margin:10px;
    	margin-right: 0;
    	border-radius: 10px;
    	background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
    }
    .form a, .contact_form form{
    	text-align: center;
        display: inline-block;
        font-size: 35px;
    	color: black;
    }
}
@media (min-width: 992px) {
    .clear {clear: both;}
    .text_size{
        font-size: 40px;
    }
    .button {
      position: relative;
      font-weight: bold;
      font-size: 16px;
      color: white;
      width: 100%;
      max-width: 100px;
      text-decoration: none;
      user-select: none;
      padding: .8em 2em;
      outline: none;
      border-radius: 1px;
      background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
      background-size: 100% 100%, auto;
      background-position: 50% 50%;
      box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
      transition: 0.2s;
    }
    .button:hover {
      background-size: 140% 100%, auto;
    }
    .button:active {
      top: 1px;
      color: #ffdead;
      box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
    }
    .input_size{
        border-radius: 8px;
    	border-width: 1px;
    	height: 5%;
    	font-size:20px;
    	 margin-top: 5%
    	padding: 8px;
    	margin: 10px;
    	margin-right: 0;
    }
    .table{
        margin:0 auto;
        width: 60%;
        text-align:center;
        font-size: 30px;
    }
    .form_size{
    	width:100%
    	margin: auto;
    	margin-top: 15%;
    	line-height: 20px;
    }
    .form{
    	width:400px;
    	margin: auto;
    	margin-top: 5%;
    }
    .form input, .contact_form form{
    	border-radius: 8px;
    	border-width: 1px;
    	width:400px;
    	font-size:18px;
    	padding: 8px;
    	margin: 10px;
    }
    .form p, .contact_form form{
    	display: inline;
    	font-size:20px;
    	text-align:center;
    }

    .form button, .contact_form form{
    	width:400px;
    	margin: 10px;
    	border-radius: 10px;
    	background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .form a, .contact_form form{
    	text-align: center;
        display: inline-block;
        font-size: 16px;
    	color: black;
    }
  }