<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
<div>
    <br/>
    <div style="float:left;">
        <a class=button href="/">Назад</a>
    </div>
    <div style="float:right;">
        <div>
            <a class=button href="profile">{{ name }}</a>
            <a class=button href="logout">Выход</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div align="center">
    {% if users %}
    <table cellspacing="15" align="center" class="table">
        {% for current in users %}
        <tr>
            <td> {{ current[0] }}</td>
            <td> {{ current[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</body>
</html>
<script>
    function reload(val){
        let current = document.getElementById("class-list").options;
        for (let i = 0; i < current.length; i++) {
            if(val == current[i].value){
                location = "view_books?selected_class=" + current[i].id;
                return 0;
            }
        }
        alert("Данного класса нет в базе");
    }
</script>