<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
<div>
    <br/>
    <div style="float:left;">
        <a class=button href="/">Назад</a>
    </div>
    <div style="float:right;">
        <div>
            <a class=button href="profile">{{ name }}</a>
            <a class=button href="logout">Выход</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div align="center">
    <input list="class-list" value="{{ book_class }}" onclick="this.value=''" onchange="reload(this.value)"
           id="current_class" style="width: 140px; margin-top: 8%;" class="input_size">
    <datalist id="class-list">
        {% for current in all_classes %}
        <option id="{{ current[0] }}" value="{{ current[1] }}">
            {% endfor %}
    </datalist>
</div>

<div align="center" style="margin-top:7%">
    {% if users %}
    <table cellspacing="15" align="center" class="table">
        {% for current in users %}
        <tr>
            <td> {{ current[0] }}</td>
            <td>
                <button style="width: 150px; height: 40px; color: blue" onclick="location = 'user?id_user={{ current[1] }}'">Просмотр</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</body>
</html>
<script>
    function reload(val){
        let current = document.getElementById("class-list").options;
        for (let i = 0; i < current.length; i++) {
            if(val == current[i].value){
                location = "all_users?selected_class=" + current[i].id;
                return 0;
            }
        }
        alert("Данного класса нет в базе");
    }


</script>