<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
<div>
    <br/>
    <div style="float:right;">
        {% if name == "" %}
        <div>
            <a class=button href="login">Вход</a>
            <a class=button href="registration">Регистрация</a>
        </div>
        {% else %}
        <div>
            <a class=button href="profile">{{ name }}</a>
            <a class=button href="logout">Выход</a>
        </div>
        {% endif %}
    </div>
</div>

<div align="center">
    <div class="form_size">
        <a href="scan_book" class=button>Сканировать книгу</a><br/><br/><br/>
        <a href="view_books" class=button>Список книг</a><br/><br/><br/>
        <a href="all_books" class=button>Все книги</a><br/>
    </div>
</div>
</body>
</html>
