<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Регистрация</title>
</head>
<body><br>
<div>
    <div style="float:left;">
        <a class=button href="/">Назад</a>
    </div>
    <div style="float:right;">
        <a class=button href="login">Вход</a>
    </div>
    <div class="clear"></div>
</div>
<form method="POST">
    <div class=form>
        <p>Почта: </p><input type="email" placeholder="qwerty@uiop.ru" name="email" required>
        <p>Имя, фамилия: </p><input type="text" placeholder="Иван Иванов" name="my_name" required>
        <p>Пароль: </p><input type="password" placeholder="password" name="password" required>
        <p>Повторите пароль: </p><input type="password" placeholder="password" name="password_1" required>
        <p id="id_class_label">Выберить свой класс:</p>
        <input list="class-list" onclick="this.value=''" name="id_class" id="id_class" required>
        <datalist id="class-list">
            {% for current_class in classes %}
            <option id="{{ current_class[0] }}">{{ current_class[1] + current_class[2] }}</option>
            {% endfor %}
        </datalist>
        <br/>
        <p>Выберить свою школу:</p>
        <input list="school-list" onclick="this.value=''" name="id_school" required>
        <datalist id="school-list">
            {% for current_school in schools %}
            <option>{{ current_school[1] }}</option>
            {% endfor %}
        </datalist>
        <br/>
        <p style="display: inline-block;">Я админ:</p><input type="checkbox" name="is_admin"
                              onchange="if(this.checked){alert('После регистрации ожидайте подтверждения от другого админа');
                               document.getElementById('id_class').style='display:none';
                               document.getElementById('id_class').required='false';
                               document.getElementById('id_class').value='0';
                               document.getElementById('id_class_label').style='display:none';}
                               else{document.getElementById('id_class').style='';
                               document.getElementById('id_class').value='';
                               document.getElementById('id_class').required='true';
                               document.getElementById('id_class_label').style='';}"
                              style="width:30px;height: 30px;">
        <button type="submit">Регистрация</button>
        <br>
    </div>
</form>
</body>
</html>
