<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сканировать</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
<div>
    <br/>
    <div style="float:left;">
        <a class=button href="/">Назад</a>
    </div>
    <div style="float:right;">
        {% if name == "" %}
        <div>
            <a class=button href="login">Вход</a>
            <a class=button href="registration">Регистрация</a>
        </div>
        {% else %}
        <div>
            <a class=button href="profile">{{ name }}</a>
            <a class=button href="logout">Выход</a>
        </div>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
<div align="center" id="main">
    <video id="video" width="100%" height="50%" autoplay></video>
    <label id="info" class=text_size>None</label><br/><br/>
    {% if is_admin == 1 %}
    <a style="display:none" class="button" id="accept_book" >Принять книгу</a>
    {% endif %}
</div>
<canvas id="canvas" width="400" height="300" style="display: none"></canvas>

</body>
<script>
    let video = document.getElementById('video');
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.srcObject = stream;
            video.play();
        });
    }

    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');
    let id_books = "";
    let scanning = setInterval(send, 1000);
    async function send() {
        context.drawImage(video, 0, 0, 400, 300);
        let path = canvas.toDataURL('image/jpeg', 0.5);
        let formData = new FormData();

        formData.append('image', path);
        formData.append('id_books', id_books);
		let request = await fetch('decode', {
			method: 'POST',
			body: formData
        });
        let resp = await request.json();
        if(resp.type == "QRCODE"){

            video.pause();
            clearInterval(scanning);
            if(document.getElementById("get_book")) document.getElementById("get_book").remove();
            document.getElementById("info").innerHTML = resp.username + "(" + resp.my_class + ")" + ": " + resp.subject + " " + resp.authors;
            let adm = document.getElementById("accept_book");
            if(resp.code == "no_user"){
                document.getElementById("info").innerHTML = "Пользователь отсутствует. Присвоить книгу?";
                if(!document.getElementById("get_book")){
                    let button = document.createElement("p");
                    button.classList.add('button')
                    button.innerHTML = "Да";
                    button.id = "get_book";
                    button.setAttribute( "onClick", "javascript: get_book('" + resp.qr + "');");
                    document.getElementById("main").append(button);
                }
            }
            else{
                if(adm){
                    adm.style="";
                    adm.setAttribute( "onClick", "javascript: accept_book('" + resp.qr + "');" );
                }
            }
            if(!document.getElementById("scan_again")){
                let button = document.createElement("p");
                button.classList.add('button')
                button.innerHTML = "Повторный скан";
                button.id = "scan_again";
                button.setAttribute( "onClick", "javascript: scan();");
                document.getElementById("main").append(button);
            }
        }

    }
    function scan(){
        document.getElementById("scan_again").remove();
        if(document.getElementById("get_book")) document.getElementById("get_book").remove();
        document.getElementById("info").innerHTML = "None";
        scanning = setInterval(send, 1000);
        video.play()
    }
    async function accept_book(qr){
        let formData = new FormData();

        formData.append('qr', qr);
		let request = await fetch('accept_book', {
			method: 'POST',
			body: formData
        });
        let resp = await request.json();
        if(resp.code == "yes"){
            alert("Книга принята");
            location.reload();
        }
        else{
            alert("Ошибка");
        }
    }
    async function get_book(qr){
        let formData = new FormData();
        formData.append('qr', qr);
		let request = await fetch('give_book', {
			method: 'POST',
			body: formData
        });
        let resp = await request.json();
        if(resp.code == "yes"){
            alert("Книга добавлена в библиотеку");
            document.getElementById("get_book").remove();
            document.getElementById("info").innerHTML = resp.username + "(" + resp.my_class + ")" + ": " + resp.subject + " " + resp.authors;
        }
        else{
            alert("Добавлять книги могут только авторизованные пользователи");
        }
    }
</script>
</html>