<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сканировать</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
{% if error != "" %}
<script>alert('{{ error }}')</script>
{% endif %}
<div>

    <br/>
    <div style="float:left;">
        <a class=button href="/">Назад</a>
    </div>
    <div style="float:right;">
        <div>
            <a class=button href="profile">{{ name }}</a>
            <a class=button href="logout">Выход</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div align="center" id="main">
    <canvas id="canvas" width="400" height="300" style="display: none"></canvas>
    <video id="video" width="100%" height="50%" autoplay></video>
    <form method="post" id="my_form">
        <input required autocomplete="off" placeholder="Предмет" class="input_size" id="subject" name="subject"/><input
            required autocomplete="off" placeholder="Автор1, Автор2" class="input_size" id="author" name="authors"/>
        <input required autocomplete="off" placeholder="Класс" class="input_size" id="class" name="current_class"
               type="number"/><input autocomplete="off" placeholder="ISBN" class="input_size" id="isbn" name="isbn"
                                     type="number"/>
        <br/><br/><br/><a class="button" onclick="document.getElementById('my_form').submit()">Добавить</a>
    </form>
</div>


</body>
<script>
    let video = document.getElementById('video');
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.srcObject = stream;
            video.play();
        });
    }

    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');
    let id_books = "";
    let scanning = setInterval(send, 1000);
    let last = "";
    async function send() {
        context.drawImage(video, 0, 0, 400, 300);
        let path = canvas.toDataURL('image/jpeg', 0.5);
        let formData = new FormData();

        formData.append('image', path);
        formData.append('id_books', id_books);
		let request = await fetch('decode', {
			method: 'POST',
			body: formData
        });
        let resp = await request.json();
        if(resp.type == "EAN13" && resp.qr != last){
            clearInterval(scanning);
            video.pause();;
            last = resp.qr;
            formData = new FormData();
            formData.append('isbn', resp.qr);
		    request = await fetch('info_isbn', {
			    method: 'POST',
			    body: formData
            });
            resp = await request.json();
            document.getElementById("author").value = resp.authors;
            document.getElementById("subject").value = resp.subject;
            document.getElementById("class").value = resp.class;
            document.getElementById("isbn").value = resp.qr;

        }
    }
</script>
</html>