<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сканировать</title>
</head>
<body>
<video id="video" width="640" height="480" autoplay></video>
<canvas id="canvas" width="640" height="480" style="display: none"></canvas>
</body>
<script>
    let video = document.getElementById('video');
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.srcObject = stream;
            video.play();
        });
    }

    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');

    function send() {
        context.drawImage(video, 0, 0, 640, 480);
        let path = canvas.toDataURL('image/jpeg', 0.3);
        console.log(path);
        let request = new XMLHttpRequest();
        request.open('POST', 'decode?image=' + path, true);
        request.send();
		console.log(request.responseText);
    }
    setTimeout(send, 1000);
</script>
</html>