<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сканировать</title>
</head>
<body>
<video id="video" width="640" height="480" autoplay></video>
<canvas id="canvas" width="640" height="480" style="display: none"></canvas>
</body>
<script>
    let video = document.getElementById('video');
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.srcObject = stream;
            video.play();
        });
    }

    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');

    async function send() {
        context.drawImage(video, 0, 0, 640, 480);
        let path = canvas.toDataURL('image/jpeg', 0.3);
        let formData = new FormData();

        formData.append('image', path);
		let request = await fetch('decode', {
			method: 'POST',
			body: formData
        });
        let text = await request.text();
        if(text != "false"){
            alert(text);
        }
    }
    setInterval(send, 1000);
</script>
</html>